<ion-view title="Cartomanti">
    <ion-content>
        <div class="main">
            <h2 class="txt-center"> {{empDetail.nomearte}} {{empDetail.start_time | removeNaN}} - {{empDetail.end_time |
                removeNaN}} </h2>


            <div class="shade-bg martop-25">
                <ul class="clienti-list">
                    <li class="row padb-15">
                        <span class="col"> <strong> {{empDetail.nomearte}} </strong> </span> <span
                            class="col user-img"> <img src="img/user-img.jpg" ng-src="{{empImage}}"> </span></li>

                    <li><p ng-bind-html="empDetail.descrizione"></p></li>
                    <!--
                    <li class="row"><span class="col"> Data di nascita: </span> <span class="col"> {{empDetail.nomearte}} </span>
                    </li>
                    <li class="row"><span class="col"> Telefono:</span> <span class="col"> +1 - 251 65 64589 </span>
                    </li>
                    <li class="row"><span class="col"> Tariffa: </span> <span class="col"> 3  </span></li>
                    <li class="row"><span class="col"> Indirizzo: </span> <span class="col"> 75 Bennett, NY </span></li>-->
                </ul>

                <ul class="clienti-list bdr0" ng-hide="empDetail.schedules.length == 0">
                    <li class="row" ng-repeat="shedule in empDetail.schedules"><span class="col">{{shedule.daynameonly}} {{shedule.dayonly}} </span>
                        <span class="col"> {{showShedule(shedule)}} </span></li>
                </ul>
                <aside class="button_set">
                    <button class="button button-block est-btns" ui-sref="app.consulto">Prenota un consulto</button>
                </aside>
            </div>
        </div>
    </ion-content>
</ion-view>
