<ion-view title="Contattaci">
    <ion-content>
        <div class="main">
            <ion-card-content class="full-container">

                <aside class="contact_list" onClick='window.parent.location.href = "tel:0631707554"'>
                    <span> Carta di credito prepagata </span>
                    <span class="number"> 063.17.07.554 </span>
                    <span class="min">  Solo 0.80⍷/min + iva </span>
                    <span> <img src="img/cards.png"> </span>
                    <div class="phone_sec light-orange"><i class="ion ion-ios-telephone"> </i></div>
                </aside>


                <aside class="contact_list" onClick='window.parent.location.href = "tel:0631707554"'>
                    <span> Carta di credito prepagata </span>
                    <span class="number"> 063.17.07.554 </span>
                    <span class="min">  Solo 0.80⍷/min + iva </span>
                    <span> <img src="img/voda-imgs.png"> </span>
                    <div class="phone_sec light-orange"><i class="ion ion-ios-telephone"> </i></div>
                </aside>


                <aside class="contact_list" onClick='window.parent.location.href = "tel:0631707554"'>
                    <span> Carta di credito prepagata </span>
                    <span class="number"> 063.17.07.554 </span>
                    <span class="min">  Solo 0.80⍷/min + iva </span>
                    <span> <img src="img/cards.png"> </span>
                    <div class="phone_sec light-orange"><i class="ion ion-ios-telephone"> </i></div>
                </aside>


                <aside class="contact_list" onClick='window.parent.location.href = "tel:0631707554"'>
                    <span> Carta di credito prepagata </span>
                    <span class="number"> 063.17.07.554 </span>
                    <span class="min">  Solo 0.80⍷/min + iva </span>
                    <span> <img src="img/plus.png"> seguci su www.atrolinee.ch </span>
                    <div class="phone_sec light-orange"><i class="ion ion-ios-telephone"> </i></div>
                </aside>


                <a onClick='window.parent.location.href = "tel:0631707554"'>
                    <aside class="contact_list">
                        <span> Carta di credito prepagata </span>
                        <span class="number"> 063.17.07.554 </span>
                        <span class="min">  Solo 0.80⍷/min + iva </span>
                        <span> <img src="img/cards.png"> </span>
                        <div class="phone_sec light-orange"><i class="ion ion-ios-telephone"> </i></div>
                    </aside>
                </a>

                <aside class="contact_list single_sec" ng-click="mail()">
                    <span> info@studioesoterika.net </span>
                    <div class="phone_sec light-orange"><i class="ion ion-ios-email-outline"> </i></div>
                </aside>


                <aside class="contact_list single_sec" ng-click="whatsApp()">
                    <span> +39 3921901968 </span>
                    <div class="phone_sec light-orange"><i class="ion ion-social-whatsapp-outline"> </i></div>
                </aside>

            </ion-card-content>
        </div>
    </ion-content>
</ion-view>
