<ion-view view-title="Impostazioni">
    <ion-content>

        <div class="main">



            <div class="shade-bg chk_list">
                <h3>Che notifiche vuoi ricevere?</h3>
                <ul>
                    <li> <input type="checkbox" ng-model="pushData.oroscopo" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Oroscopo</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.stream" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Puntata Streaming</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.tv" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Puntata TV</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.inlinea" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Cartomanti preferiti in linea</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.informazioni" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Informazioni</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.problemi" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Problemi</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.nuoviservizi" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Nuovi servizi</button>  </li>
                    <li> <input type="checkbox" ng-model="pushData.taroccoGiorno" ng-change="setPush()"> <button class="button button-block est-btns" type="submit">Tarocco del giorno</button>  </li>
                </ul>

            </div>
        </div>


    </ion-content>
</ion-view>
