
<div class="feild_sec regis_sec">
    <p>Indica il numero di telefono su cui acquistare minuti di conversazione! Completa il pagamento, poi chiama! </p>

    <ul>
        <li> <input type="tel" placeholder="330123456" required="required" ></li>
        <li>
            <select name="vccamount" title="ricarica">
                <option value="0">€&nbsp;10,00 (10 minuti)</option>
                <option value="1">€&nbsp;15,00 (15 minuti)</option>
                <option value="2">€&nbsp;20,00 (20 minuti)</option>
                <option value="3">€&nbsp;25,00 (25 minuti)</option>
                <option value="4">€&nbsp;30,00 (30 minuti)</option>
                <option value="5">€&nbsp;50,00 (50 minuti)</option>
                <option value="6">€&nbsp;100,00 (100 minuti)</option>
            </select>
        </li>
        <li>  <input class="paybtn" type="image" src="img/pagapp.png" alt="Submit"> </li>


    </ul>

</div>
</ion-card-content>

</div>
