<ion-view view-title="Prenota un consulto">
  <ion-content>
    <div class="main">
    <h2 class="txt-center"> Conferma di prenotazione </h2> 


     <div class="shade-bg martop-25">
       <ul class="contact_details_list">
        <li>Cartomante</li>
       <li>With employee’s nomearte</li>
       <li><strong> {{appointment.employee_nomearte}} </strong> </li>
      </ul>
       <ul class="contact_details_list"> 
       <li>Data e Ora</li>
       <li><strong> {{appointment.date}} Hrs </strong> </li>
       </ul>
      <ul class="contact_details_list">
       <li>Col numero</li>
       <!--<li><strong>  +22 - 215 54 65482 </strong> </li>-->
       <li><strong>  {{appointment.mobile_number}} </strong> </li>
      </ul>

   

  </div>


<div class="contact_details_txt_sec">
<h3> Buon consulto!!!! </h3>
<p>Se attivata, una notifica ti ricorderà 
del tuo appuntamento. Per modificare
le notifiche, vai su -Impostazioni-</p>
<p class="italic"> Studio Esoterika</p>
</div>

    </div>
  </ion-content>
</ion-view>
