<ion-view>

    <ion-content>

        <div class="main">
            <aside class="logo_section"><img src="img/logo.png" alt=""></aside>
            <aside class="intro_section">
                <p>Se la tua storia
                    d'amore non e' la
                    favola che speravi,
                    Chiama le
                    cartomanti
                    dell'Amore di
                </p>
                <p class="intro_sign"><em>Studio Esoterika!</em></p>
            </aside>
            <aside class="studio_sec">
                <span ui-sref="app.login"> Sei nostro cliente? <br> Accedi Area Riservata! </span>

                <span ui-sref="app.registration">Non sei nostro cliente? <br>
Registrati! </span>

            </aside>


            <p align="center">Potrai usare l’app anche senza registrarti,
                anche se con qualche limitazione!</p>
        </div>

    </ion-content>
</ion-view>
