<ion-view view-title="Sociale">
    <ion-content>

        <div class="main">


            <div class="shade-bg social_bg">
                <ul class="social_list">
                    <li>
                        <image src="img/facebook.png" ng-click="facebookPage()"/>
                            <image src="img/instagram.png" ng-click="instaPage()"/>
                    </li>
                    <li>
                        <image src="img/you-tube.png" ng-click="youtubePage()"/>
                            <image src="img/twitter.png" ng-click="twitterPage()"/>
                    </li>
                    <li>
                        <image src="img/ustream.png" ng-click="ustreamPage()"/>
                    </li>


                </ul>

            </div>
        </div>


    </ion-content>
</ion-view>
