<ion-view view-title="Storico">
  <ion-content>
    <div class="main">
     <ion-card-content class="full-container">
      <h3> Prossimi appuntamenti </h3>
      <ul class="storico-list">
        <li class="row"><span class="col">19/ 04/2007 <span class="date">11.00 Hrs </span> </span> 
         <span class="col">
          <span class="round red_bg" > <i class="ion ion-close-round"> </i></span> 
          <span class="round blue_bg"> <i class="ion ion-edit"> </i>  </span>  
         </span>       
        </li>  
        <li class="row"><span class="col">19/ 04/2007 <span class="date">11.00 Hrs </span> </span> 
         <span class="col">
          <span class="round red_bg" > <i class="ion ion-close-round"> </i></span> 
          <span class="round blue_bg"> <i class="ion ion-edit"> </i>  </span>  
         </span>       
        </li>  
        <li class="row"><span class="col">19/ 04/2007 <span class="date">11.00 Hrs </span> </span> 
         <span class="col">
          <span class="round red_bg" > <i class="ion ion-close-round"> </i></span> 
          <span class="round blue_bg"> <i class="ion ion-edit"> </i>  </span>  
         </span>       
        </li>  
        <li class="row"><span class="col">19/ 04/2007 <span class="date">11.00 Hrs </span> </span> 
         <span class="col">
          <span class="round red_bg" > <i class="ion ion-close-round"> </i></span> 
          <span class="round blue_bg"> <i class="ion ion-edit"> </i>  </span>  
         </span>       
        </li>  
      </ul>

      <h3 class="top-line"> Ultimi 10 movimenti </h3>
      <p> (consulti e pagamenti) </p>

      <ul class="storico-list" >
       <li class="row">
         <span class="col">$200</span> 
         <span class="col txt-right"> 19/ 04/2007 </span>       
        </li>    

        <li class="row">
         <span class="col">$200</span> 
         <span class="col txt-right"> 19/ 04/2007 </span>       
        </li>   
        <li class="row">
         <span class="col">$200</span> 
         <span class="col txt-right"> 19/ 04/2007 </span>       
        </li>   


      </ul>



     </ion-card-content>
    </div>
  </ion-content>
</ion-view>
