<ion-view view-title="Storico">
    <ion-content>
        <div class="main">
            <ion-card-content class="full-container">
                <h3 ng-hide="appointmentHistory.length == 0"> Prossimi appuntamenti </h3>
                <ul class="storico-list" ng-hide="appointmentHistory.length == 0">
                    <li ng-repeat="appontment in appointmentHistory" class="row"><span class="col">{{appontment.dateonly}} Hrs <span
                            class="date"> {{appontment.timeonly}}</span> </span>
                        <span class="col">
          <span class="round red_bg" ng-click="deleteAppontment(appontment)"> <i
                  class="ion ion-close-round"> </i></span>
                            <!--<span class="round blue_bg"> <i class="ion ion-edit"> </i>  </span>  -->
         </span>
                    </li>
                </ul>

                <h3 class="top-line" ng-hide="payments.length == 0"> Ultimi 10 movimenti </h3>
                <p ng-hide="payments.length == 0"> (consulti e pagamenti ) </p>

                <ul class="storico-list" ng-hide="payments.length == 0">
                    <li class="row" ng-repeat="payment in payments">
                        <span class="col">€&nbsp;{{payment.amount}}</span>
                        <span class="col txt-right">  {{payment.dateonly}} </span>
                    </li>

                </ul>
            </ion-card-content>
        </div>
    </ion-content>
</ion-view>
